*{
    font-weight: bold;
    font-size: 1.1rem;
}

.parent {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: lightgray;
    text-align: center;
}

.layout {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 20vh;
    padding: 10px 10px 10px 10px;
}

button {
    box-shadow: 0 3px 16px rgba(0,79,255,0.3);
    margin:5px;
}

.first {
    background-color: pink;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: 1px solid black;
}
.second {
    background-color: yellow;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: 3px solid black;
}
.third {
    background-color: lightskyblue;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: 1px solid black;
}

